<div id="fordesign" class="w-64 h-full p-4 fixed
  transform transition-transform duration-300
      -translate-x-full lg:translate-x-0">
</div>
<style>
  .storename{
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }
</style>
<aside id="sidebar" class="bg-gray-800 flex flex-col justify-between text-white w-64 h-full flex-shrink-0 p-4 fixed 
  transform transition-transform duration-300
  -translate-x-full lg:translate-x-0 z-10">
  <div class="top">
    <div class="mb-8">
        <h1 class="storename text-2xl font-semibold">StoreSaathi</h1>
    </div>
    <nav>
        <a href="{% url "home" %}" class="block py-2 px-4 hover:bg-gray-700 rounded {% if home %}font-semibold{% endif %}">Home</a>
        <a href="{% url "dashboard" %}" class="block py-2 px-4 hover:bg-gray-700 rounded {% if dashboard %}font-semibold {% endif %}">Dashboard</a>
        <a href="{% url "viewproduct" %}" class="block py-2 px-4 hover:bg-gray-700 rounded {% if product %}font-semibold{% endif %}">Products</a>
        <a href="{% url "notifications" %}" class="block py-2 px-4 hover:bg-gray-700 rounded {% if notifications %}font-semibold{% endif %}">Notifications</a>
        <a href="{% url "salesoverview" %}" class="block py-2 px-4 hover:bg-gray-700 rounded {% if salesoverview %}font-semibold{% endif %}">Sales Overview</a>
        <a href="{% url "financedashboard" %}" class="block py-2 px-4 hover:bg-gray-700 rounded {% if finance %}font-semibold{% endif %}">Finance</a>
        <a href="{% url "khatabook" %}" class="block py-2 px-4 hover:bg-gray-700 rounded {% if khatabook %}font-semibold{% endif %}">Khata Book</a>
        <a href="{% url "phonebook" %}" class="block py-2 px-4 hover:bg-gray-700 rounded {% if phonebook %}font-semibold{% endif %}">Phone Book</a>
        <a href="{% url "setting" %}" class="block py-2 px-4 hover:bg-gray-700 rounded {% if settings %}font-semibold{% endif %}">Settings</a>
    </nav>
  </div>
  <div class="bottom mt-8 py-4 text-sm text-center">
    <a href="{% url "report" %}" class="hover:text-blue-600">Report</a> | <a href="{% url "privacy_policy" %}" class="hover:text-blue-600">Privacy Policy</a>
  </div>
</aside>

<div id="overlay" class="fixed inset-0 bg-opacity-30 hidden lg:hidden" onclick="toggleSidebar()"></div>
<script>
  function handleSidebarVisibility() {
    const sidebar = document.getElementById("sidebar");
    const overlay = document.getElementById("overlay");
    const fordesign = document.getElementById("fordesign");
    const desktopWidth = 1024;

    if (window.innerWidth < desktopWidth) {
      // Sidebar hidden by default
      sidebar.classList.add("-translate-x-full");
      overlay.classList.add("hidden");
    } else {
      // Sidebar visible by default
      sidebar.classList.remove("-translate-x-full");
      overlay.classList.add("hidden");
    }
    if (window.innerWidth >= desktopWidth) {
      fordesign.classList.add("relative");
      fordesign.classList.remove("fixed");
    } else {
      fordesign.classList.remove("relative");
      fordesign.classList.add("fixed");
    }
  }

  function toggleSidebar() {
    const sidebar = document.getElementById("sidebar");
    const overlay = document.getElementById("overlay");
    sidebar.classList.toggle("-translate-x-full");
    overlay.classList.toggle("hidden");
  }

  window.addEventListener("resize", handleSidebarVisibility);
  window.addEventListener("DOMContentLoaded", handleSidebarVisibility);
</script>
