{% extends "base.html" %} 

{% block title %}Dashboard{% endblock %} 

{% block section %}
<div class="flex h-screen">
  {% include "components/navbar.html" with dashboard="dashboard" %}
  <div class="flex-1 flex flex-col">
    {% include "components/header.html" with head='Dashboard' %}

    <main class="p-4 overflow-auto">
      {% include "components/finance.html" with daily=daily  %}
      <div class="bg-white shadow-md rounded-lg p-3">
        <div
          class="flex flex-row justify-between items-center mb-2"
        >
          <h2 class="text-base font-semibold mb-1 sm:mb-0">Products</h2>
          <a
            href='{% url "addproduct" %}'
            class="bg-indigo-600 text-white px-3 py-1 cursor-pointer rounded-md hover:bg-indigo-700 text-xs"
            >Add Product</a
          >
        </div>
        {% if products %}
          <div class="bg-white shadow-md rounded-lg p-4 md:p-6">
            <h3 class="text-lg md:text-xl font-semibold mb-3 md:mb-4 text-gray-800">Monthly Financial Overview</h3>
            <div class="overflow-x-auto">
                <table class="w-full table-auto text-xs md:text-sm">
                    <thead class="bg-gray-200 text-gray-700">
                        <tr>
                            <th class="px-2 py-1 md:px-4 md:py-2">Image</th>
                            <th class="px-2 py-1 md:px-4 md:py-2">Name</th>
                            <th class="px-2 py-1 md:px-4 md:py-2">Sell</th>
                            <th class="px-2 py-1 md:px-4 md:py-2">Purchase</th>
                            <th class="px-2 py-1 md:px-4 md:py-2">Stock</th>
                            <th class="px-2 py-1 md:px-4 md:py-2">Rack</th>
                            <th class="px-2 py-1 md:px-4 md:py-2">Date</th>
                            <th class="px-2 py-1 md:px-4 md:py-2">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                      {% for product in products %}
                          <tr>
                              <td class="flex justify-center items-center px-2 py-1 md:px-4 md:py-2">
                                {% if product.images %}
                                  <img
                                    src="{{ product.images.url }}"
                                    alt="product image"
                                    class="h-10 w-10 object-cover rounded-md"
                                  />
                                {% else %}
                                  <span class="text-[0.7rem] text-gray-500">No Image</span> 
                                {% endif %}
                              </td>
                              <td class="text-center px-2 py-1 md:px-4 md:py-2">{{ product.name }}</td>
                              <td class="text-center px-2 py-1 md:px-4 md:py-2">₹{{ product.price }}</td>
                              <td class="text-center px-2 py-1 md:px-4 md:py-2">₹{{ product.purchase_price }}</td>
                              <td class="text-center px-2 py-1 md:px-4 md:py-2">{{ product.stock }}</td>
                              <td class="text-center px-2 py-1 md:px-4 md:py-2">{{ product.rack }}</td>
                              <td class="text-center px-2 py-1 md:px-4 md:py-2">{{ product.created_at|date:"M d, Y" }} </td>
                              <td class="text-center px-2 py-1 md:px-4 md:py-2">
                                <div class="flex space-x-1">
                                  <a
                                    href='{% url "editproduct" product.product_id %}'
                                    class="text-blue-600 hover:underline cursor-pointer text-sm mr-2"
                                    >Edit</a
                                  >
                                  <a
                                    href='{% url "deleteproduct" product.product_id %}'
                                    class="text-red-600 ml-2 hover:underline cursor-pointer text-sm"
                                    >Delete</a
                                  >
                                </div>
                              </td>
                          </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
          </div>
          <div class="text-right mt-1">
            <a
              href='{% url "viewproduct" %}'
              class="text-blue-600 hover:underline cursor-pointer transition duration-200 text-xs"
              >View all</a
            >
          </div>

          <!-- Pagination Controls -->
          <div class="pagination mt-4 md:flex md:justify-between md:items-center">
            <div class="text-gray-600 text-sm">
            Showing {{ products.number }} of <span class="font-semibold">{{ products.paginator.num_pages }}</span> page
            </div>
            <div class="mt-2 md:mt-0 space-x-2">
            {% if products.has_previous %}
                <a href="?page={{ products.previous_page_number }}" class="bg-white hover:bg-gray-100 text-gray-700 font-semibold py-2 px-4 rounded shadow-sm text-sm focus:outline-none focus:ring focus:ring-blue-300">
                    Previous
                </a>
            {% endif %}
            {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}" class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded shadow-sm text-sm focus:outline-none focus:ring focus:ring-blue-300">
                Next
            </a>
            {% endif %}
            </div>
          </div>
          {% else %}
          <p class="text-xs text-gray-500">No products available.</p>
        {% endif %}
      </div>
    </main>
  </div>
</div>
{% endblock %}
