{% extends "base.html" %}

{% block title %}Sells{% endblock %}

{% block section %}
<div class="flex h-screen">
    {% include "components/navbar.html" with salesoverview="salesoverview" %}
    <div class="flex-1 flex flex-col">
        {% include "components/header.html" with head='Sales Overview' %}

        <div class="container mx-auto p-4 md:p-8">            
                <div class="bg-white shadow-md rounded-lg p-4 mb-6 md:p-6">
                    <h2 class="text-lg md:text-xl font-semibold mb-3 md:mb-4 text-gray-700">30 Days Sales Overview</h2>
                    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-4">
                            {% if request.GET.filter == "paid" %}
                                <div class="bg-green-100 rounded-md p-3 md:p-4">
                                    <p class="text-sm font-medium text-green-500">Total Recieved</p>
                                    <p class="text-lg md:text-xl font-semibold text-gray-800">₹{% if total_amount %}{{total_amount|floatformat:2}}{% else %}00{% endif %}</p>  
                                    <small>Total Recieved: ₹{{paid_amount|floatformat:2}}</small><br>
                                    <small>Due Payments: ₹{{due_amount|floatformat:2}}</small>
                                </div>  
                            {% elif request.GET.filter == "unpaid" %}
                                <div class="bg-red-100 rounded-md p-3 md:p-4">
                                    <p class="text-sm font-medium text-red-500">Due Payments</p>
                                    <p class="text-lg md:text-xl font-semibold text-gray-800">₹{% if total_amount %}{{total_amount|floatformat:2}}{% else %}00{% endif %}</p> 
                                    <small>Total Recieved: ₹{{paid_amount|floatformat:2}}</small><br>
                                    <small>Due Payments: ₹{{due_amount|floatformat:2}}</small>
                                </div> 
                            {% else %}
                                <div class="bg-blue-100 rounded-md p-3 md:p-4">
                                    <p class="text-sm font-medium text-blue-500">Total Revenue</p>
                                    <p class="text-lg md:text-xl font-semibold text-gray-800">₹{% if total_amount %}{{total_amount|floatformat:2}}{% else %}00{% endif %}</p> 
                                    <small>Total Income: ₹{{paid_amount|floatformat:2}}</small><br>
                                    <small>Due Payments: ₹{{due_amount|floatformat:2}}</small>
                                </div>
                            {% endif %}
                            {% if request.GET.filter == "paid" %}
                                <div class="bg-green-100 rounded-md p-3 md:p-4">
                                    <p class="text-sm font-medium text-green-500">Total Paid</p>
                                    <p class="text-lg md:text-xl font-semibold text-gray-800">{{total_order}}</p>
                                    <small>Paid: {{order_recieved}}</small><br>
                                    <small>Unpaid: {{due_payments|length}}</small>
                                </div>
                            {% elif request.GET.filter == "unpaid" %}
                                <div class="bg-red-100 rounded-md p-3 md:p-4">
                                    <p class="text-sm font-medium text-red-500">Total Unpaid</p>
                                    <p class="text-lg md:text-xl font-semibold text-gray-800">{{total_order}}</p>
                                    <small>Paid: {{order_recieved}}</small><br>
                                    <small>Unpaid: {{due_payments|length}}</small>
                                </div>
                            {% else %}
                                <div class="bg-blue-100 rounded-md p-3 md:p-4">
                                    <p class="text-sm font-medium text-blue-500">Total Orders</p>
                                    <p class="text-lg md:text-xl font-semibold text-gray-800">{{total_order}}</p>
                                    <small>Paid: {{order_recieved}}</small><br>
                                    <small>Unpaid: {{due_payments|length}}</small>
                                </div>
                            {% endif %}
                    </div>  
                </div>
        
                <div class="bg-white shadow-md rounded-lg overflow-hidden">
                    <div class="top border-b border-gray-200 mb-2 flex justify-between items-center mr-3">
                        <h2
                            class="text-lg md:text-xl font-semibold p-4 md:p-6 text-gray-700"
                        >
                            Recent Sales
                        </h2>
                        <form method="get">
                            <select id="id_filter" name="filter" required onchange="this.form.submit()" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
                                <option value="all" {% if not request.GET.filter %}selected{% endif %}>All</option>
                                <option value="paid" {% if request.GET.filter == "paid" %}selected{% endif %}>Paid</option>
                                <option value="unpaid" {% if request.GET.filter == "unpaid" %}selected{% endif %}>Unpaid</option>
                            </select>
                        </form>
                    </div>
                    <div class="overflow-x-auto pb-3">
                        <table class="w-full table-auto">
                            <thead class="bg-gray-100 text-gray-600 text-xs md:text-sm">
                                <tr>
                                    <th class="px-2 py-1 md:px-3 md:py-2 text-left">Order ID</th>
                                    <th class="px-2 py-1 md:px-3 md:py-2 text-left">Customer</th>
                                    <th class="px-2 py-1 md:px-3 md:py-2 text-left">Date</th>
                                    <th class="px-2 py-1 md:px-3 md:py-2 text-left">Amount</th>
                                    <th class="px-2 py-1 md:px-3 md:py-2 text-left">Paid</th>
                                    <th class="px-2 py-1 md:px-3 md:py-2 text-left">Payment</th>
                                    <th class="px-2 py-1 md:px-3 md:py-2 text-left">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="text-gray-700 text-xs md:text-sm mt-2">
                                {% for order in orders %}
                                <tr class='my-2'>
                                    <td class="px-2 py-1 md:px-3 md:py-2">{{ order.order_id }}</td>
                                    <td class="px-2 py-1 md:px-3 md:py-2">{{order.customer}}</td>
                                    <td class="px-2 py-1 md:px-3 md:py-2">{{order.order_at|date:"M d, Y"}}</td>
                                    <td class="px-2 py-1 md:px-3 md:py-2">₹{{order.total_amount}}</td>
                                    <td class="px-2 py-1 md:px-3 md:py-2">
                                        {% if order.is_paid %}
                                        <span class="inline-flex items-center rounded-full bg-green-200 px-2 py-1 text-xs font-semibold text-green-700">Yes</span>
                                        {% else %}
                                        <span class="inline-flex items-center rounded-full bg-yellow-200 px-2 py-1 text-xs font-semibold text-yellow-800">No</span>
                                        {% endif %}
                                    </td>
                                    <td class="px-2 py-1 md:px-3 md:py-2">UPI</td>
                                    <td class="px-2 py-1">
                                        <a href='#' class="bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded text-xs">View</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
        
                <!-- Pagination Controls -->
                <div class="pagination mt-4 md:flex md:justify-between md:items-center">
                    <div class="text-gray-600 text-sm">
                    Showing {{ orders.number }} of <span class="font-semibold">{{ orders.paginator.num_pages }}</span> page
                    </div>
                    <div class="mt-2 md:mt-0 space-x-2">
                    {% if orders.has_previous %}
                        <a href="?page={{ orders.previous_page_number }}" class="bg-white hover:bg-gray-100 text-gray-700 font-semibold py-2 px-4 rounded shadow-sm text-sm focus:outline-none focus:ring focus:ring-blue-300">
                            Previous
                        </a>
                    {% endif %}
                    {% if orders.has_next %}
                    <a href="?page={{ orders.next_page_number }}" class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded shadow-sm text-sm focus:outline-none focus:ring focus:ring-blue-300">
                        Next
                    </a>
                    {% endif %}
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}